/***************************** GENERAL *****************************/

*
{
	margin : 0;
}

body
{
	font-family: verdana;
	font-size: 12px;
}

a
{
	text-decoration: none;
	color:#000;
}

.conteneur
{
	margin:0 auto;
	max-width: 1170px;
}

/***************************** HAUT *****************************/
header
{
	background: #000000;
	padding: 5px;
	text-align: center;
}

header span
{
	color:#FFF;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 20px;
}

header nav
{
	display: inline;
}

header a
{
	color: #FFFFFF;
	text-decoration: none;
	padding:5px 5px;
}

header nav a:hover
{
	/*background: #046baf;*/
	background: white;
	color:black;
}

/***************************** MILIEU *****************************/
section
{
	padding : 30px;
	min-height: 800px;
}

/***************************** BAS *****************************/
footer
{
	background: #000;
	color: white;
	text-align: center;
	padding: 7px 0;
}

/***************************** ALERTES *****************************/
.erreur
{
	background: #FF0000;
	padding: 5px;
	margin: 5px;
}

.validation
{
	background: #669933;
	padding: 5px;
	margin: 5px 0;
}

.cadre
{
	border: 1px solid #C0C0C0;
	width:30%;
}

.cadre h2
{
	background: #C0C0C0;
	margin: 0;
	text-align: center;
	font-size: 15px;
	padding: 5px
}

.cadre p
{
	padding: 10px
}

.center
{
	text-align: center;
}

/***************************** BOUTIQUES *****************************/
.boutique-gauche
{
	float:left;
	width:30%;
	background: #F2F2F2;
	min-height: 500px;
	margin-right: 10%;
	padding-top: 10px;
	text-align: center;
}

.boutique-gauche ul
{
	list-style:none;
	padding: 0;
}

.boutique-gauche ul li  a
{
	display: block;
	padding: 10px;
}

.boutique-gauche ul li a:hover
{
	background: #04baf6;
	color:#fff;
}

.boutique-droite
{
	float:left;
	width:60%;
}

.boutique-produit
{
	float:left;
	width:30%;
	text-align: center;
	padding: 5%;
	border-bottom: 1px solid #c0c0c0;
}

.boutique-produit:hover
{
	background: #c0c0c0;
}


/***************************** FORMULAIRE *****************************/
table
{
	border-collapse: collapse;
}

table tr td
{
	text-align: center;
	
	/* custo */
	border:solid 1px black;
}

td, th
{
	padding: 5px;
}

/* custo */
td
{
	background: #BBDEFB; /* bleu clair */
}

/* custo */
tr > th
{
	background: grey;
	border:solid 1px black;
}

/* custo */
select > option
{
	color : blue;
}


/***************************** PAGE CONNEXION *****************************/

#carousel-example-generic
{
	width:300px;
}

#container-page-connexion
{
	width: 25%;
	margin:0 auto;
}
