<h1>New user creation</h1>
<form method="post" action="{{ path('validate_add_user') }}">
      <div>
          <label>name</label>
          <input type="text" name="name">
      </div><br>
      <div>
          <label>email</label>
          <input type="text" name="email">
      </div><br>
      <button type ="submit">Add This User</button>
</form>